:root #custom-timewrap-visualization-tooltip {
    pointer-events: none;
    position: absolute;
    display: none;
    border-radius: 5px;
    background-color: #000;
    color: #fff;
    padding: 5px 7px;
    white-space: nowrap;
}