@import 'react-vis/main.css';

:--namespace { height: 100%; }

.rv-discrete-color-legend-item { padding: 0; }

.rv-discrete-color-legend.vertical {
    position: relative;
    transform: translateY(-50%);
    top: 50%;
}

.timewrap-tooltip {
    background-color: #000;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}